<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - School Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container-fluid">

        @* Navigation Bar *@
        <div>
            @RenderPage("Components/_NavigationBar.cshtml")
            <br />
        </div>

        <div>
            <div class="row">
                @* Main Content *@
                <div class="col-10">
                    @RenderBody()
                </div>
            </div>
        </div>


        @* Footer *@
        <div>
            @RenderPage("Components/_Footer.cshtml")
        </div>

    </div>







    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
